#title{
    background-image:url("https://thumbs.gfycat.com/NecessaryThatBlueshark-max-1mb.gif");
    text-align: center;
    background-size:cover;
    background-position: center;   
    height: 400px;
    width:1535px;
    padding-top: 150px;
}

h1{
    color:darkblue;
}

body{
    background-color:rgb(172, 29, 185);
}

#login{
    background-color: rgb(209, 79, 203);
}
